psdslog-demo.json
[
  {
    "id": "d10ea82.ebd4b58",
    "type": "pydslog",
    "z": "da31db2d.fe5c28",
    "name": "MLS/160A",
    "topic": "pydslogd/0",
    "device": "mls160a",
    "freq": 512,
    "channels": [
      "ACCX"
    ],
    "broker": "2d2870a2.649d5",
    "x": 250,
    "y": 80,
    "wires": [
      [
        "26a863e3.8f0bbc"
      ]
    ]
  },
  {
    "id": "26a863e3.8f0bbc",
    "type": "debug",
    "z": "da31db2d.fe5c28",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 430,
    "y": 80,
    "wires": []
  },
  {
    "id": "c685e5c0.694118",
    "type": "inject",
    "z": "da31db2d.fe5c28",
    "name": "",
    "topic": "",
    "payload": "start",
    "payloadType": "str",
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": "3",
    "x": 90,
    "y": 40,
    "wires": [
      [
        "d10ea82.ebd4b58"
      ]
    ]
  },
  {
    "id": "7120ee12.44688",
    "type": "inject",
    "z": "da31db2d.fe5c28",
    "name": "",
    "topic": "",
    "payload": "stop",
    "payloadType": "str",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 90,
    "y": 120,
    "wires": [
      [
        "d10ea82.ebd4b58"
      ]
    ]
  },
  {
    "id": "2d2870a2.649d5",
    "type": "mqtt-broker",
    "z": "",
    "name": "RMG/941-86",
    "broker": "192.168.0.86",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "compatmode": true,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  }
]
